@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: AeogoPxltdNext;
  src: url("/fonts/aeogo-pxltd-next-font/AeogoPxltdNext-5y27B.ttf");
}

@font-face {
  font-family: Michroma;
  src: url("/fonts/Michroma/Michroma-Regular.ttf");
}

.michroma {
  font-family: Michroma;
}

.aeogo {
  font-family: AeogoPxltdNext;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; /* for IE and Edge */
}
